

.page {
    width: 100%; 
    background: #383F45; 
    height: 100vh; 
    color: white;
}

.flag-table {
    height: 75vh;
    border: rgba(0, 0, 0, 0.379) solid 1px; 
    width: 65%; 
    border-radius: 5px; 
    -webkit-box-shadow: 5px 5px 15px -6px rgba(255,255,255,0.74); 
    box-shadow: 5px 5px 15px -6px rgba(255,255,255,0.30);
}

.flag-table::-webkit-scrollbar {
    width: 8px;
    
}

.flag-table::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0); /* Set desired track color */
  }


.flag-table::-webkit-scrollbar-thumb {
    background-color: #888; /* Set desired thumb color */
    height: 30px;
    border-radius: 5px;
}

#next-page-btn {
    font-size: 0.75rem;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 0;
    margin-bottom: 5px;
}